body{ 
    background-color: rgb(8, 6, 137);
    color: white;
    text-align: center;
}
</style>
 <h1>Vídeos legais para assistir</h1>

<img src="thumb-html.png" alt="">
<br>
<img src="thumb-js.png" alt="">
<img src="thumb-hardware.png" alt="">